{% block content %}
<div class="container-fluid">
	<div class="ribbon"></div>
	<h1>What is it</h1>
	<button>List your space</button>
	<button>Looking for space</button>
</div>
<div class="container-fluid">
	<h1>Why rent your space</h1>
	<div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">Info</div>
        <div class="col-xs-12 col-sm-6 col-md-4">Info</div>
        <div class="col-xs-12 col-sm-6 col-md-4">Info</div>
        <div class="col-xs-12 col-sm-6 col-md-4">Info</div>
        <div class="col-xs-12 col-sm-6 col-md-4">Info</div>
        <div class="col-xs-12 col-sm-6 col-md-4">Info</div>
      </div>
</div>
<div class="container-fluid">
	<h1>Why Spacer</h1>
	<div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">Info</div>
        <div class="col-xs-12 col-sm-6 col-md-4">Info</div>
        <div class="col-xs-12 col-sm-6 col-md-4">Info</div>
        <div class="col-xs-12 col-sm-6 col-md-4">Info</div>
        <div class="col-xs-12 col-sm-6 col-md-4">Info</div>
        <div class="col-xs-12 col-sm-6 col-md-4">Info</div>
      </div>
</div>

<div class="container-fluid">
	<h1>Need a space?</h1>
	<p>Ready to launch</p>
</div>




{% endblock %}